.vr {
    border: solid;
    border-right-width: 1px;
    border-color: blue;
}
.footer{
    background-color: rgb(240, 33, 67);
}
.navbar{
    background-color: rgb(255, 168, 183);
}
.navbar-brand{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    
}
